<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>parseApplicationId</key>
	<string>I3xmnfNLODINwmqRCZD13LUkvZQVjK3fkoyb5Aan</string>
	<key>parseClientKey</key>
	<string>TLpORbJfwJiWljLVnmnR5sdMVsqYr26BHzmJVXZj</string>
</dict>
</plist>
